<div class="container">
 <div class="row">
  <div class="h1 mt-5">通報一覧</div>
 </div>
 <div class="row">
  <div class="col lg-10 text-center mt-5">
      <% @report.each do |notification| %>
       <% visitor = notification.visitor %>
       <% visited = notification.visited %>
        <%= link_to visitor.nickname, customer_customer_path(visitor) %>
        <%= "が" %>
        <%= link_to visited.nickname, customer_customer_path(visited) %>
        <%= "を通報しました" %>
      <div class="report_title mb-2">
        <% if notification.post %>
         <%= notification.post.title %>
        <% end %>
      </div>
      <% end %>
  </div>
 </div>
</div>