<h1 class="text-center mt-5"><%= @category.name %></h1>
<div class="container">
 <div class="row mypage mb-5">
  <h1 class="col h1">タグ検索</h1>
 </div>
 <div class="row">
  <div class="col-lg-12 shadow-lg">
   <table>
    <tbody>
       <% @posts.each do |post| %>
         <tr><td><%= post.created_at.strftime('%Y/%m/%d')%></td></tr>
         <tr><td><%= link_to post.customer.nickname, customer_customer_path(post.customer_id) %></td></tr>
         <tr>
          <td class="article">
          <% post.images.each do |image| %>
           <%= image_tag image, size: "300x250" %>
          <% end %>
          </td>
         <td class="pl-2"><%= post.title %></td>
         </tr>
       <tr>
        <td id="favorite_buttons_<%= post.id %>">
          <%= render "customer/favorites/favorites", post: post, category: @category %>
        </td>
        <td nowrap><%= link_to "#{post.comment.count}コメント", customer_genre_category_post_path(@category.genre_id,@category,post),class: "far fa-comment-dots"%></td>
        <td nowrap><%= render 'customer/posts/tag', tag_list: post.tag_list %></td>
       </tr>
       <tr class="border-bottom border-info"><td class="text-right" id="report_<%= post.id %>">
        <%= render 'customer/posts/report', post: post %>
       </td></tr>
      <% end %>
    </tbody>
   </table>
  </div>
 </div>

</div>