<h1>プロフィール編集</h1>
<%= form_with model: @customer, url: customer_customer_path(@customer), local:true do |f| %>
<table class="ml-5">
 <tr>
  <td nowrap class="pt-5 pl-5"><%= f.label "ニックネーム:"%></td>
  <td class="pt-5 pl-5"><%= f.text_field :nickname %></td>
 </tr>
 <tr>
  <td nowrap class="pt-5 pl-5"><%= f.label "アイコン:" %></td>
  <td class="pt-5 pl-5"><%= f.attachment_field :image, fallback: "no_image.jpg" %></td>
 </tr>
 <tr>
  <td nowrap class="pt-5 pl-5"><%= f.label "自己紹介:"%></td>
  <td class="pt-5 pl-5"><%= f.text_area :body, size: "50x6" %></td>

  <% if customer_signed_in? && @customer.id == current_customer.id %>
   <td class="col-lg-4 text-right"><%= f.submit "変更する", class:"btn btn-primary rounded-pill"%></td>

   <td>
    <button type="button" class="btn btn-danger rounded-pill" data-toggle="modal" data-target="#exampleModal">
     退会する
    </button>
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
       <div class="modal-body">
        本当に退会しますか？
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-danger"><%= link_to "退会する", customer_customer_withdrawal_path(current_customer),method: :patch, class: "text-light" %></button>
       </div>
      </div>
     </div>
    </div>
   </td>

  <% end %>
 </tr>
</table>
<% end %>
