<div class="h1 mypage mt-5 ml-5">
 <% if current_customer.present? && @customer.id == current_customer.id %>
  <h1>マイページ</h1>
 <% else %>
  <h1><%= @customer.nickname %></h1>
 <% end %>
</div>

<div class="container">
 <div class="row">
  <%= attachment_image_tag @customer, :image, fallback: "no_image.jpg", size: "300x300", class:"rounded-circle"%>
  <table>
   <tbody>
    <tr><td class="pl-4"><strong><%= @customer.nickname %></strong></td></tr>
    <tr>
     <td class="pl-5"><%= link_to "#{@customer.followings.count}フォロー", customer_customer_followings_path(@customer), class: "btn btn-outline-info" %></td>
     <td class="pl-2"><%= link_to "#{@customer.followers.count}フォロワー", customer_customer_followers_path(@customer), class: "btn btn-outline-info" %></td>
    </tr>
   </tbody>
  </table>
 </div>
 <div class="row">
    <div class=""><%= @customer.body %></div>
    <% if current_customer.present? %>
     <% if @customer.current_user?(current_customer) %>
      <div class="col-lg-10 text-right"><%= link_to "プロフィールを編集",edit_customer_customer_path(@customer), class: "btn btn-success" %></div>
     <% else %>
      <% if current_customer. following?(@customer) %>
       <div class="col-lg-10 text-right"><%= link_to "フォローを外す", customer_customer_relationships_path(@customer), method: :delete, class: "btn btn-primary" %></div>
      <% else %>
       <div class="col-lg-10 text-right"><%= link_to "フォローする", customer_customer_relationships_path(@customer), method: :post, class: "btn btn-success"%></div>
      <% end %>
     <% end %>
    <% end %>
 </div>

  <div class="row border-top shadow-lg p-3 mb-5 bg-white rounded mt-2">
   <div class="col-lg-12">
    <div class="h1 mypage mt-2">
     投稿内容
    </div>
    <table>
     <tbody>
      <% @customer.posts.each do |post| %>
       <tr><td><%= link_to post.category.name, customer_genre_category_posts_path(post.category.genre_id,post.category_id) %></td></tr>
       <tr><td><%= post.created_at.strftime('%Y/%m/%d')%></td></tr>
       <tr><td><%= link_to post.customer.nickname, customer_customer_path(post.customer_id) %></td></tr>
       <tr>
        <td class="article">
         <% post.images.each do |image| %>
          <%= image_tag image, size: "300x250" %>
         <% end %>
        </td>
        <td class="pl-2"><%= post.title %></td>
       </tr>
       <tr>
        <td id="favorite_buttons_<%= post.id %>">
         <%= render "customer/favorites/favorites", post: post, category: post.category %>
        </td>
        <td nowrap><%= link_to "#{post.comment.count}コメント", customer_genre_category_post_path(post.category.genre_id, post.category, post),class: "far fa-comment-dots"%></td>
        <td nowrap><%= render 'customer/posts/tag', tag_list: post.tag_list %></td>
       </tr>
       <tr class="border-bottom border-info"><td class="text-right" id="report_<%= post.id %>">
        <%= render 'customer/posts/report', post: post %>
       </td></tr>
      <% end %>
     </tbody>
    </table>
   </div>
  </div>

<div class="text-right mr-5">
 <% if current_admin.present? %>
  <% if @customer.is_deleted == false %>
   <%= link_to "退会させる", customer_customer_withdrawal_path(@customer),method: :patch, "data-confirm" => "本当に退会させますか？", class: "btn  btn-outline-danger" %>
  <% else %>
   <%= "退会ずみ"%>
  <% end %>
 <% end %>
</div>