<h1>マイページ</h1>
 <%= attachment_image_tag @customer, :image, fallback: "no_image.jpg", size: "50x50"%>
 <%= @customer.nickname %>
 <%= @customer.body %>

<% if @customer.id == current_customer.id %>
 <%= link_to "プロフィールを編集",edit_customer_customer_path(@customer) %>
 <%= link_to "退会する", customer_customer_withdrawal_path(current_customer),method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
 <!--data-confirmで退会ボタンクリック時にアラート発生>
<% end %>
