<% notifications.each do |notification| %>
 <% visitor = notification.visitor %>
 <% visited = notification.visited %>
<div class="col-lg-10 text-center">
  <div>
    <% unless notification.action == 'report' %>
      <%= notification.created_at.strftime('%Y/%m/%d')%>
      <%= attachment_image_tag visitor, :image, fallback: "no_image.jpg", size: "50x50", class:"rounded-circle" %>
      <%= visitor.nickname %>
      <%= 'さんが'%>
    <% end %>
    
      <%= notification_action_message(notification.action) %>
      
  </div>
  <div>
    <% if notification.post %>
     <%= notification.post.title %>
    <% end %>

  </div>
</div>
<% end %>