<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= image_tag visitor, :image, fallback: "no_image.jpg", class:"icon_mini" %>
      <%= visitor.nickname %>
    </span>
      <%= 'さんが'%>

      <% case notification.action %>
      <% when 'follow' then %>
      <%= "あなたをフォローしました"%>
      <% when 'favorite' then %>
      <%= "あなたの投稿にいいねしました"%>
      <% when 'comment' then %>
      <% if notification.post.customer_id == visited.id %>
       <%= "あなたの投稿"%>
      <%else%>
       <span>
         <%= notification.post.customer.nickname + 'さんの投稿'%>
         <%= "にコメントしました" %>
       </span>
       <% end %>
       <% end %>
       <p class="text-muted.mb-0">
         <%= Comment.find_by(id: notification.comment_id)&.comment %>
       </p>
       <div class="small.text-muted.text-right">
        <%= time_ago_in_words(notification.created_at).upcase %>
       </div>
  </div>
</div>