<div class="mt-3 ml-5">
 <%= form_tag(customer_tag_search_path, method: :get) do %>
  <%= "タグ検索" %><br>
  <%= text_field_tag'search[word]'%>
  <%= hidden_field_tag 'category_id', @category.id %>
  <%= submit_tag "検索"%>
 <% end %>
</div>

<h1 class="text-center mt-5"><%= @category.name %></h1>
<div class="container">
 <div class="row">
   <div class="col-lg-12 text-right">
   <%= link_to "", new_customer_genre_category_post_path, class: "fas fa-plus fa-5x"%>
   </div>
 </div>

 <div class="row">
  <div class="col-lg-12">
   <table>
    <tbody>
       <% @posts.each do |post| %>
         <tr><td><%= post.created_at.strftime('%Y/%m/%d')%></td></tr>
         <tr><td><%= link_to post.customer.nickname, customer_customer_path(post.customer_id) %></td></tr>
         <tr>
          <td class="article">
          <% post.images.each do |image| %>
           <%= image_tag image, size: "300x250" %>
          <% end %>
          </td>
         <td class="pl-2"><%= post.title %></td>
         </tr>
       <tr>
        <td id="favorite_buttons_<%= post.id %>">
          <%= render "customer/favorites/favorites", post: post, category: @category %>
        </td>
        <td nowrap><%= link_to "#{post.comment.count}コメント", customer_genre_category_post_path(@category.genre_id,@category,post),class: "far fa-comment-dots"%></td>
        <td nowrap><%= render 'customer/posts/tag', tag_list: post.tag_list %></td>
       </tr>
       <tr class="border-bottom border-info"><td class="text-right" id="report_<%= post.id %>">
        <%= render 'customer/posts/report', post: post %>
       </td></tr>
      <% end %>
    </tbody>
   </table>
  </div>
 </div>

</div>