<div class="container">
  <div class="row">
    <table class="col-lg-5">
      <tbody>
        <tr><td><%= @post.created_at.strftime('%Y/%m/%d')%></td>
        <tr><td><%= @post.customer.nickname %></td></tr>
        <tr>
         <td><%= attachment_image_tag @post, :image, size: "300x250", fallback: "no_image.jpg" %></td>
         <td><%= @post.title %></td>
        </tr>
        <tr>
          <td></td>
          <td class="text-right"><% if @post.favorited_by?(current_customer)%>
            <%= link_to customer_genre_category_post_favorites_path(@category.genre_id,@category,@post), method: :delete do %>
             ♥<%= @post.favorites.count %>いいね
            <% end %></td>
          <td class="text-right"><% else %>
            <%= link_to customer_genre_category_post_favorites_path(@category.genre_id,@category,@post), method: :post do %>
             ♡<%= @post.favorites.count %>いいね</td>
            <% end %>
          <% end %>
          <% if @post.customer.id == current_customer.id %>
          <td><%= link_to "投稿を削除",customer_genre_category_post_path(@category.genre_id,@category,@post), method: :delete%></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>