<div class="text-danger"><%= flash[:notice] %></div>
<div class="container">
 <div class="row">
  <div class="col lg-10 mt-5">
   <%= form_with model:@genre, url: customer_genres_path, method: :post, local:true do |f| %>
    <%= f.label "新しく追加して欲しいジャンル名"%><br>
    <%= f.text_field :name %><br>
    <div class="mt-5 ml-2"><%= f.submit "追加して欲しいジャンルを送る", class: "btn btn-primary"%></div>
   <%end%>
  </div>
 </div>
</div>