<div class="container">
 <div class="row">
  <div class="col-lg-8">
   <h1>カテゴリー追加</h1>
   <%= form_with model: @category, url: customer_genre_categories_path, local:true do |f| %>
   <table class="table table-borderless">
    <tbody>
     <tr>
     <td><%= f.label "名前"%></td>
     <td><%= f.text_field :name %></td>
     </tr>
     <tr>
     <td><%= f.label "画像"%></td>
     <td><%= f.attachment_field :image %></td>
     </tr>
     <tr><td></td><td class="text-right"><%= f.submit 'カテゴリー登録', class: "btn btn-info"%></td></tr>

    </tbody>
   </table>
   <% end %>
  </div>
 </div>
</div>
<h6 class="border rounded border-danger col-lg-4 ml-5">※好きなカテゴリーを追加しましょう！<br>カテゴリー内容は投稿者のみ編集することができます</h6>
